// Zellij config with default keybindings

plugins {
	tab-bar { path "tab-bar"; }
	status-bar { path "status-bar"; }
	strider { path "strider"; }
	compact-bar { path "compact-bar"; }
}

on_force_close "detach"
simplified_ui true
pane_frames false

themes {
   mocha {
    bg "#1d2021" // Surface2
    fg "#bdae93" // Text
    green "#ea6962"
    red "#89b482" // i know i know i can't figure out how to change the highlight 
    blue "#7daea3"
    yellow "#d8a657"
    magenta "#d3869b" // Pink
    orange "#e78a4e" // Peach
    cyan "#89b482" // Sky
    black "#191b1c" // Mantle
    white "#ebdbb2" // Text
  }
	rose-pine {
		bg "#403d52"
		fg "#e0def4"
		red "#eb6f92"
		green "#689D6A"
    blue "#9ccfd8"
		yellow "#f6c177"
		magenta "#c4a7e7"
		orange "#fe640b"
		cyan "#ebbcba"
		black "#26233a"
		white "#e0def4"
	}
    gruvbox-dark {
 		fg "#D5C4A1"
 		bg "#282828"
 		black "#3C3836"
 		red "#CC241D"
 		green "#98971A"
 		yellow "#D79921"
 		blue "#3C8588"
 		magenta "#B16286"
 		cyan "#689D6A"
 		white "#FBF1C7"
 		orange "#D65D0E"
 	}
    tokyo-night {
        fg 169 177 214
        bg 26 27 38
        black 56 62 90
        red 249 51 87
        green 158 206 106
        yellow 224 175 104
        blue 122 162 247
        magenta 187 154 247
        cyan 42 195 222
        white 192 202 245
        orange 255 158 100
    }
    ayu-dark {
        fg "#C5C5C5"
        bg "#0D1117"
        black "#0D1117"
        red "#F07178"
        green "#C3E88D"
        yellow "#FFCB6B"
        blue "#82AAFF"
        magenta "#C792EA"
        cyan "#89DDFF"
        white "#C5C5C5"
        orange "#F78C6C"
    }
}

theme "ayu-dark"
default_layout "compact"
